.signup .input-file {
  height: 61px;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0px 2px 2px 0 rgba(105, 105, 105, 0.4);
  padding-left: 1em;
  margin-bottom: 15px;
   cursor: pointer
}
.signup .input-file .placeholder{
  font-size: 19.6px;
  color: #5d5d5d;
  height: 61px;
  line-height: 61px;
  float: left;
}

.signup .input-file-button {
    border-radius: 0;
    border: 0;
  width: 61px;
  height: 61px;
  background-color: #ef4136;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  cursor: pointer
}
.signup .input-file-button img {
  width: 16px;
  height: 32px;
}

.hidden {
    display:none;
}